body{
    background-color:rgb(20, 19, 19);
}
#container{
    height: 700px;
    width: 1000px;
    border: 1px solid white;
    
}
#calculator{
    height: 450px;
    width: 249.5px;
    background-color: white;
    position: relative;
    margin: 80px auto;
    border-radius: 5px;
    box-shadow: 2px 3px grey;
    border: 3px solid lightcoral;

}
#result{
    height: 120px;
}
#keyboard{
    text-align: right;
    height: 280px;
}
#keyboard button{
margin: 11px;
background-color:grey;
font-size: 13px;
}

#keyboard button:hover{
    cursor: pointer;
    font-size: 15px;
    
}
#keyboard button:nth-child(4){

    background-color: orange;
    font-size: 14px;
}
#keyboard button:nth-child(8){

    background-color:red;
    font-size: 14px;
}
#keyboard button:nth-child(12){

    background-color: purple;
    font-size: 14px;
}
#keyboard button:nth-child(16){

    background-color: yellow;
    font-size: 14px;
}
#keyboard button:nth-child(20){

    background-color:blue;
    font-size: 14px;
}
#keyboard button:focus{
    background-color:green;
}
#history
{
    text-align: right;
    margin: 0 20px;
    height: 20px;
    padding-top: 20px;
    font-size: 15px;
    color:gray ;
}
#output {
    text-align: right;
    height: 60px;
    font-size:30px ;

}

.operator,.number,.empty{
    height: 40px;
    width: 40px;
    margin: 5px;
    float: left;
    border-radius: 50%;
    border-width: 0px;
    font-weight: bold;
    font-size: 20px;


}